/* Footer.css */
.footer {
    background-color: #212529;
    color: #ffd700;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.footer a {
    color: #ffd700;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}